# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Text files to be normalized and converted to native line endings on checkout.
*.ts text
*.js text
*.json text

# Declare files that will always have CRLF line endings.

# Binary files
*.png binary
*.jpg binary