
{{!-- <footer{{#unless settings.hideGenerator}} class="with-border-bottom"{{/unless}}>
    <div class="container">
        <h2>Legend</h2>
        <div class="tsd-legend-group">
            {{#each legend}}
                <ul class="tsd-legend">
                    {{#each .}}
                        <li class="{{#compact}}{{#each classes}} {{.}}{{/each}}{{/compact}}"><span class="tsd-kind-icon">{{name}}</span></li>
                    {{/each}}
                </ul>
            {{/each}}
        </div>
    </div>
</footer> --}}
<footer>
  <div class="footercol1">
    <img src="https://raw.githubusercontent.com/zowe/zowe.github.io/master/assets/img/zowe-logo.svg">
    <div class="socialfooter" style="display:inline !important">
    <a href="https://github.com/zowe"><img src="https://raw.githubusercontent.com/zowe/zowe.github.io/master/assets/img/github.svg"></a>
    <a href="https://community.openmainframeproject.org/c/zowe"><img src="https://raw.githubusercontent.com/zowe/zowe.github.io/master/assets/img/forums.svg"></a>
    <a href="https://slack.openmainframeproject.org"><img src="https://raw.githubusercontent.com/zowe/zowe.github.io/master/assets/img/slack.svg"></a>
    <a href="https://lists.openmainframeproject.org/g/zowe-user"><img src="https://raw.githubusercontent.com/zowe/zowe.github.io/master/assets/img/mail.svg"></a>
    <a href="https://www.youtube.com/playlist?list=PL8REpLGaY9QE_9d57tw3KQdwSVLKuTpUZ"><img src="https://raw.githubusercontent.com/zowe/zowe.github.io/master/assets/img/youtube.svg"></a>
    </div>
    <a href="https://bestpractices.coreinfrastructure.org/projects/2226"><img src="https://bestpractices.coreinfrastructure.org/projects/2226/badge"></a>
    <a href="https://www.netlify.com">
        <img src="https://www.netlify.com/img/global/badges/netlify-light.svg" alt="Deploys by Netlify">
    </a>
  </div>

  <div class="footercol2">
    <a href="/">Overview</a>
    <a href="/download">Download</a>
    <a href="https://docs.zowe.org">Docs</a>
    <a href="/learn">Learn</a>
    <a href="/extend">Extend</a>
    <a href="/contribute">Community</a>
    <a href="https://www.openmainframeproject.org/projects/zowe/conformance">Zowe Conformance Program</a>
  </div>

  <div class="footercol3">
    Zowe is hosted by <a href="https://www.openmainframeproject.org/"><img style="padding-top:3%;width:50%" src="https://raw.githubusercontent.com/zowe/zowe.github.io/master/assets/img/omp-logo.png"></a>
  </div>
  <div class="copyright">© Open Mainframe Project. a Linux Foundation Project. All Rights Reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page. Please refer to <a href="https://www.openmainframeproject.org/wp-content/uploads/sites/11/2019/06/Open-Mainframe-Project-Marketing-and-Branding-Guidelines.pdf">Marketing and Branding Guidelines</a> for name usage guidelines. Linux is a registered trademark of Linus Torvalds. <a href="http://www.linuxfoundation.org/privacy">Privacy Policy</a> and <a href="http://www.linuxfoundation.org/terms">Terms of Use</a>
  </div>
</footer>
{{!-- {{#unless settings.hideGenerator}}
    <div class="container tsd-generator">
        <p>Generated using <a href="https://typedoc.org/" target="_blank">TypeDoc</a></p>
    </div>
{{/unless}} --}}