name: Audit

on:
  pull_request:
    branches:
      - master
      - zowe-v1-lts
      - next
  # schedule:
  #   - cron: '0 10 * * *'

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: lts/*

    - name: Use NPM v8
      id: npm8
      run: npm install -g npm@^8

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Check Node Vulnerabilities
      run: npm audit --production --audit-level=moderate

    # TODO Consider using actions-rs/audit-check after https://github.com/actions-rs/audit-check/issues/116 is fixed
    - name: Check Rust Vulnerabilities
      working-directory: zowex
      run: cargo audit --deny warnings
