name: Audit

on:
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 10 * * *'

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Use NPM v7
      id: npm7
      run: npm install -g npm@^7

    - name: Check Vulnerabilities
      run: npm audit --production --audit-level=moderate
