name: Lint

on:
  push:
    branches-ignore:
      - 'master'
      - 'zowe-v1-lts'
      - 'next'
  pull_request:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository) && !contains(github.event.head_commit.message, '[ci skip]')

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Use Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: lts/*

    - name: Use NPM v8
      id: npm8
      run: npm install -g npm@^8

    - name: Install Node Package Dependencies
      run: npm ci

    - name: Lint
      run: npm run lint
