name: Lint

on:
  push:
    branches-ignore:
      - 'master'
      - 'zowe-v1-lts'
  pull_request:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository) && !contains(github.event.head_commit.message, '[ci skip]')

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Use NPM v7
      id: npm7
      run: npm install -g npm@^7

    - name: Install Node Package Dependencies
      run: npm ci

    - name: Lint
      run: npm run lint
