
name: Secrets SDK Publish
"on":
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/secrets
    steps:
    - uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        check-latest: true
        cache: npm
    - name: Install workspace dependencies
      working-directory: "."
      run: npm ci --ignore-scripts
    - name: Build source
      run: npm run build:ts
    - name: Publish
      run: |
        sed -i "s/\"private\": true/\"private\": false/" package.json
        npx -y npm-cli-login
        npm publish --access public
        npm dist-tag add @zowe/secrets-for-zowe-sdk@$(cat package.json | jq -r .version) zowe-v2-lts
        npm dist-tag add @zowe/secrets-for-zowe-sdk@$(cat package.json | jq -r .version) next
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_USER: ${{ secrets.ARTIFACTORY_USERNAME }}
        NPM_PASS: ${{ secrets.ARTIFACTORY_PASSWORD }}
        NPM_EMAIL: ${{ secrets.ZOWE_ROBOT_EMAIL }}
        NPM_REGISTRY: "https://zowe.jfrog.io/zowe/api/npm/npm-local-release"
        NPM_SCOPE: "@zowe"
        SECRETS_BRANCH: ${{ github.ref_name }}
