# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Zowe CLI CI

on:
  push:
    paths-ignore:
      - zowex/**
  pull_request:
    paths-ignore:
      - zowex/**
  workflow_dispatch:
    inputs:
      binary-type:
        description: Specify whether to use a `debug` or a `release` version of the binary
        default: debug
        required: false
      test-type:
        description: Specify whether to run tests using the `binary` or regular `nodejs` executable
        default: binary
        required: false
jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [12.x, 14.x, 16.x]
        os: [windows-latest, ubuntu-latest, macos-latest]

    env:
      OS: ${{ matrix.os }}
      NODE: ${{ matrix.node-version }}
      NODE_OPTIONS: --max_old_space_size=4096

    timeout-minutes: 60

    concurrency:
      group: ${{ matrix.os }}-node-${{ matrix.node-version }}-ci-${{ github.ref }}
      cancel-in-progress: true

    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository) && !contains(github.event.head_commit.message, '[ci skip]')

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Use NPM v8
      id: npm8
      run: npm install -g npm@^8

    - name: Install Node Package Dependencies
      id: install
      run: npm ci

    - name: Build Source
      id: build
      run: npm run build --if-present

    - name: Unit Tests
      id: unit
      if: ${{ always() && steps.build.outcome == 'success' }}
      run: npm run test:unit >> file.txt

    - name: Integration Tests
      id: integration
      if: ${{ always() && steps.build.outcome == 'success' }}
      run: npm run test:integration >> file.txt

    - name: Archive Results
      id: upload
      if: ${{ always() && steps.build.outcome == 'success' }}
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}-${{ matrix.node-version }}-results
        path: __tests__/__results__/

    - name: Upload Results to Codecov
      if: ${{ always() && steps.build.outcome == 'success' }}
      uses: codecov/codecov-action@v1.0.7
      with:
        env_vars: OS,NODE
